article{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #222;
    height: 30px;
    width: 200px;
}
.hide{
    display: none;
}
.show{
display: block;
}
#Password{
    border: solid #222;
    background-color: #eee;
    width: 194px;
    text-align: center;
    padding:1px;
    color: #222;
    height: 30px;
}
input{
    margin-left: .5pc;
    border: solid;
    width: 180px;
    color: #222;  
    height: 35px;
}
nav a{
    margin-top: 25px;
    color: #222;
    text-decoration: none;
    font-size: 30px;
    margin-left: 800px;

}
nav{
    font-size: 20px;
    font-family: cursive;
    font-weight: bolder;
    font-style: italic;
    display: flex;
}
.font-size{
    font-size: 20px;
    font-family: cursive;
    font-weight: bolder;
    font-style: italic;
}
h3{
    display:inline-block;
}